.roller {
    img {
        width: 20px;
        margin-left: 3px;
    }
    span {
        float: left;
        margin-left: 5px;
        margin-bottom: 5px;
    }
    select {
        margin-left: 3px;
    }
}